@import "tailwindcss";

.bg-primary {
    background-color: #157A6E;
}

.bg-primary-dark {
    background-color: #0B3C32;
}

.bg-secondary {
    background-color: #2F53CD;
}

.bg-secondary-light {
    background-color: #60A5FA;
}

.bg-accent {
    background-color: #F6C700;
}

.text-primary {
    color: #157A6E;
}

.text-secondary {
    color: #2F53CD;
}

.text-accent {
    color: #F6C700;
}

.hover\:bg-primary-dark:hover {
    background-color: #0B3C32;
}